nav{
display: flex;
justify-content: space-around;
background-color: #313131;
padding-top: 12px;
padding-bottom: 12px;
align-items: center;
margin-bottom: 20px;
ul{
display: flex;
gap: 30px;
align-items: center;
li  span i{
color: white;
}
a{
    font-family: Roboto;
    font-size: 14px; 
    color: white;
 }
}
}
.header{
padding-top: 37px;
display: flex;
justify-content: space-around;
align-items: center;
.btn{
position: relative;
display: flex;
i{
position: absolute;
top: 20px;
left: 12px;
}
.btn input[type="text"] {
    padding: 20px 70px;
    font-family: Roboto;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding-right: 768px;
    align-items: center;
    border: 1px solid #e6e6e6;
  }
}
}
input{
padding-right: 749px;
padding-top: 17px;
padding-bottom: 17px;
padding-left: 50px;
border: 1px solid #ebebeb;
}
.search-res{
 position: relative;
display: flex;
    input{
        padding-right: 200px;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 50px;
        border: 1px solid #ebebeb;
        display: flex;
        margin: 0 auto;
        display: none;
        }    
}
@media (max-width:1350px) {
    input{
    padding-right: 500px;
    }
}
@media (max-width:1070px) {
    input{
    padding-right: 200px;
    }
}
@media (max-width:768px) {
    input{
    padding-right: 200px;
    }
    nav{
    display: none;}
}

.menu-box{
display: flex;
justify-content: space-around;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-top: 43px;
padding: 24px 40px 24px 40px;
}
span{
gap: 10px;
align-items: center;
display: flex;}
span p{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 18.75px;    
color: #000;
}
.aksiya p{
color: red;
}
@media (max-width:950px) {
    .box-1, .aksiya{
    display: none;
    }
}
.aksiya p{
color: red;
}

.menu-res-768px{
 display: none;
    padding-top: 15px;
ul{
display: flex;
justify-content: space-around;
align-items: center;
}
span{
display: flex;
justify-content: center;
}
a{
font-family: Roboto;
color: #414141;
}
span{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 14px;
    border-radius: 3px;
    margin-bottom: 10px;
}
}
@media (max-width:768px) {
    .menu-box{
    display: none;
    }
    .menu-res-768px{
    display: block;
    }
    .btn i {
    display: none;
    }
    .btn input {
        display: none;
        }
        .search-res input {
        display: block;
        }
        .search-res{
        padding-top: 20px;
        padding-bottom: 20px;
        .btn input[type="text"] {
            padding: 20px 70px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            padding-right: 768px;
            align-items: center;
            border: 1px solid #e6e6e6;
          }
        }
    }
  @media (max-width:470px) {
    .aksiya2{
    display: none;
    }
    .search-res input{
    padding-right: 150px;
    }
  }
  @media (max-width:400px) {
    .search-res input{
    padding-right: 20px;
    }
  }
  .h1{
  display: none;
  }
  .menu-box{
cursor: pointer;
}
.box111{
margin-top: 30px;
}